venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
build/
dist/
*.egg-info/
.eggs/
.git/
.gitignore
.DS_Store
.env
logs/
buffer/
offline_tests/
elk-docker/
elastic-install-files/
grafana/
certificates/
task_graph.png
task_graph/
